@font-face {
    font-family: "OptimaCyr";
    src: url(@/assets/fonts/Optima.woff) format("woff");
    font-weight: 400;
}
* {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "OptimaCyr";
}

.portfolio-page {
  background: #EAE6D7;
}

.header {
  height: calc(100vh - 81px - 40px);
}

.header img {
  position: absolute;
  background: none;
}

.name {
  text-transform: uppercase;
  font-size: 44px;
  position: absolute;
  top: 72%;
  color: #373043;
  font-family: "OptimaCyr";
  font-weight: 400;
}

.styles {
  font-size: 36px;
  position: absolute;
  top: 40%;
  left: 650px;
  font-family: "OptimaCyr";
  font-weight: 400;
}

.header-card {
  width: 75%;
  height: 214px;
  background: #DCD6BC;
  border-radius: 102px;
  position: absolute;
  right: 8%;
  top: 40%;
  transform: translateY(50px);
  display: flex;
  align-items: center;
}

.header-card p {
  color: #373043;
  background: none;
  text-align: left;
  font-family: "OptimaCyr";
  font-weight: 400;
}

.btn {
  background: #EA7D41;
  border-radius: 102px;
  height: 74px;
  font-size: 26px;
  border: none;
  font-family: "OptimaCyr";
  font-weight: 400;
  color: #373043;
  transition: 0.3s;
}

.btn:hover {
  cursor: pointer;
  color: #DCD6BC;
}

.signup-btn {
  position: absolute;
  bottom: 18%;
  right: 8%;
  width: 30%;
}

.bottom-btn {
  bottom: 8%;
  font-size: 30px;
}

.portfolio-header {
  font-size: 200px;
  color: #373043;
  text-align: left;
  text-transform: uppercase;
  font-family: "OptimaCyr";
  font-weight: 400;
}

.portfolio-subheader {
  font-size: 90px;
  text-transform: uppercase;
  text-align: right;
  padding-right: 20px;
  font-family: "OptimaCyr";
  font-weight: 400;
}

.header-third {
  font-size: 60px;
  text-transform: uppercase;
  font-family: "OptimaCyr";
  font-weight: 400;
  text-align: left;
  margin-left: 8%;
  background: none;
  padding-top: 60px;
}

.portfolio-section {
  position: relative;
  height: 170vh;
  width: 100%;
}

.portfolio-section-main {
  width: 100%;
  height: 100vh;
}

.portfolio-main-img {
  object-fit: cover;
  width: 100%;
  height: 100%;    
  border-radius: 100px;
}

.portfolio-section-content {
  position: relative;
}

.carousel-full {
  position: absolute;
  top: 80%;
  width: 100%;
  background: none;
}

.carousel {
  width: 84%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: none;
}

.button-left, .button-right {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
}

.button-left{
  background-image: url('@/assets/left.png');
  left: 4%;
}

.button-right{
  background-image: url('@/assets/right.png');
  right: 4%;
}

.services {
  background: #373043;
  border-radius: 102px;
  width: 100%;
  height: 100vh;
}

.services-list {
  list-style-type: none;
  margin-top: 90px;
  height: 67vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #373043;
  margin-left: 8%;
  margin-right: 8%;
}

.services-list-item {
  display: flex;
  font-size: 36px;
  color: #EAE6D7;
  background: #373043;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.services-list-item p{
  background: #373043;
}

.orange {
  color: #EA7D41;
}

.light {
  color: #DCD6BC;
}

.dark {
  color: #373043;
}

.calendar-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

.month {
  color: #373043;
  font-size: 48px;
  font-weight: 400;
  padding: 60px 0;
}

.calendar {
  margin: auto;
  width: 84%;
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 8vh);
  border: #EA7D41 solid 1px;
  border-width: 2px 1px 2px 1px;
}

.calendar-cell {
  border-left: #EA7D41 solid 1px;
  border-right: #EA7D41 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-cell {
  width:100%;
  height: 60%;
  background-color: #EA7D41;
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 400;
}
